
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniKategori</h2>
<form method="post" class="form-group">
    <div>
        <LABEL>Kategori Adı</LABEL>
        <input type="text"  class="form-control" name="KATEGORIAD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

